* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--Purple-100: hsl(254, 88%, 90%);
	--Purple-500: hsl(256, 67%, 59%);
	--Yellow-100: hsl(31, 66%, 93%);
	--Yellow-500: hsl(39, 100%, 71%);
	--White: hsl(0, 0%, 100%);
	--Black: hsl(0, 0%, 7%);
}

@font-face {
	font-family: DM Sans;
	src: url("../fonts/DMSans-VariableFont_opsz\,wght.ttf");
}

@font-face {
	font-family: DM Sans Italic;
	src: url("../fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf");
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.main-container {
	font-family: DM Sans;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 10px;
	font-size: 18px;
	width: 650px;
	height: 600px;
	margin: auto 0;
}
.grid-item {
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0px 3px rgb(0, 0, 0, 0.2);
	border-radius: 10px;
}
.illustration-image {
	max-width: 100%;
	height: auto;
}
.social-grid-item {
	text-align: center;
	grid-row-start: 1;
	grid-row-end: 5;
	grid-column-start: 4;
	grid-column-end: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
	background-color: var(--Purple-500);
}
.social-grid-item > img {
	width: 60%;
	margin: 10px 0 5px 0;
}
.manage-grid-item {
	grid-row-start: 5;
	grid-row-end: 8;
	grid-column-start: 4;
	grid-column-end: 7;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #ecf0f1;
}
.manage-grid-item > img {
	width: 100%;
}
.maintain-grid-item {
	grid-row-start: 5;
	grid-row-end: 8;
	grid-column-start: 7;
	grid-column-end: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--Yellow-500);
}
.maintain-grid-item > img {
	width: 60%;
}
.schedule-grid-item {
	color: var(--White);
	grid-row-start: 1;
	grid-row-end: 8;
	grid-column-start: 10;
	grid-column-end: 13;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--Purple-100);
}
/* .schedule-grid-item>img {} */
.grow-grid-item {
	grid-row-start: 8;
	grid-row-end: 12;
	grid-column-start: 7;
	grid-column-end: 13;
	display: flex;
	align-items: center;
	background-color: var(--Purple-500);
}
.grow-grid-item > img {
	width: 40%;
}
.fifty-grid-item {
	grid-row-start: 8;
	grid-row-end: 12;
	grid-column-start: 4;
	grid-column-end: 7;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--White);
}
.fifty-grid-item > img {
	width: 85%;
}
.create-grid-item {
	grid-row-start: 1;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 4;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 600;
	background-color: var(--Yellow-100);
}
.create-grid-item > img {
	width: 95%;
}
.write-grid-item {
	grid-row-start: 6;
	grid-row-end: 12;
	grid-column-start: 1;
	grid-column-end: 4;
	display: flex;
	flex-direction: column;
	gap: 30px;
	background-color: var(--Yellow-500);
}
.write-grid-item > img {
	width: 100%;
}
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
@media (max-width: 475px) {
	.main-container {
		width: 90%;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.illustration-image {
		width: 100%;
	}
	/* .grid-div {} */
	/* .social-div {
	} */
	.social-div > img {
		width: 60%;
	}
	/* .manage-div {
	} */
	/* .manage-div {} */
	/* .maintain-div {
	} */
	.maintain-div > img {
		width: 60%;
	}
	/* .schedule-div {
	} */
	/* .schedule-div > img {} */
	/* .grow-div {
	} */
	.grow-div > img {
		width: 60%;
	}
	/* .fifty-div {
	} */
	.fifty-div > img {
		width: 60%;
	}
	/* .create-div {
	} */
	.create-div > img {
		width: 60%;
	}
	/* .write-div {
	} */
	.write-div > img {
		width: 60%;
	}
}
