* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--Purple-100: hsl(254, 88%, 90%);
	--Purple-500: hsl(256, 67%, 59%);
	--Yellow-100: hsl(31, 66%, 93%);
	--Yellow-500: hsl(39, 100%, 71%);
	--White: hsl(0, 0%, 100%);
	--Black: hsl(0, 0%, 7%);
}
@font-face {
	font-family: DM Sans;
	src: url("../fonts/DMSans-VariableFont_opsz\,wght.ttf");
}

@font-face {
	font-family: DM Sans Italic;
	src: url("../fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf");
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.main-container {
	font-family: DM Sans;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 10px;
	font-size: 18px;
	width: 650px;
	height: 600px;
	margin: auto 0;
}
.grid-item {
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0px 3px rgb(0, 0, 0, 0.2);
	border-radius: 10px;
}
.illustration-image {
	max-width: 100%;
	height: auto;
}
.social-grid-item {
	text-align: center;
	grid-row-start: 1;
	grid-row-end: 5;
	grid-column-start: 4;
	grid-column-end: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	background-color: var(--Purple-500);
}
.social-grid-item > img {
	width: 60%;
	margin: 20px 0 5px 0;
}
.social-heading {
	font-size: 32px;
	line-height: 30px;
}
.yellow-highlight {
	color: var(--Yellow-500);
}
.manage-grid-item {
	grid-row-start: 5;
	grid-row-end: 8;
	grid-column-start: 4;
	grid-column-end: 7;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: 500;
	line-height: 18px;
	background-color: #ecf0f1;
}
.manage-grid-item > img {
	width: 100%;
}
.maintain-grid-item {
	grid-row-start: 5;
	grid-row-end: 8;
	grid-column-start: 7;
	grid-column-end: 10;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-weight: 500;
	line-height: 18px;
	background-color: var(--Yellow-500);
	padding: 20px 20px 0 20px;
}
.maintain-grid-item > img {
	align-self: center;
	width: 80%;
}
.schedule-grid-item {
	/* color: var(--White); */
	grid-row-start: 1;
	grid-row-end: 8;
	grid-column-start: 10;
	grid-column-end: 13;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--Purple-100);
}
.schedule-heading {
	font-weight: 600;
}
.subtext {
	font-size: 12px;
}
.schedule-subtext {
	font-size: 12px;
}
/* .schedule-grid-item>img {} */
.grow-grid-item {
	grid-row-start: 8;
	grid-row-end: 12;
	grid-column-start: 7;
	grid-column-end: 13;
	display: flex;
	align-items: center;
	gap: 5px;
	background-color: var(--Purple-500);
}
.grow-grid-item > img {
	width: 45%;
}
.grow-text {
	color: var(--White);
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
}
.fifty-grid-item {
	grid-row-start: 8;
	grid-row-end: 12;
	grid-column-start: 4;
	grid-column-end: 7;
	display: flex;
	flex-direction: column;
	background-color: var(--White);
}
.fifty-highlight {
	font-weight: 500;
	font-size: 34px;
}
.fifty-subtext {
	font-size: 10px;
}
.fifty-grid-item > img {
	width: 100%;
	margin: auto 0 0 0;
}
.create-grid-item {
	grid-row-start: 1;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 4;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-weight: 600;
	line-height: 20px;
	background-color: var(--Yellow-100);
}
.create-grid-item > img {
	width: 95%;
}
.purple-highlight {
	color: var(--Purple-500);
	font-family: DM Sans Italic;
}
.write-grid-item {
	grid-row-start: 6;
	grid-row-end: 12;
	grid-column-start: 1;
	grid-column-end: 4;
	display: flex;
	flex-direction: column;
	gap: 30px;
	font-weight: 600;
	line-height: 18px;
	background-color: var(--Yellow-500);
}
.write-grid-item > img {
	width: 100%;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
@media (max-width: 475px) {
	.main-container {
		width: 90%;
		display: flex;
		flex-direction: column;
		gap: 30px;
		margin: 30px 0 0 0;
	}
	.illustration-image {
		width: 100%;
	}
	.grid-item {
		font-size: 20px;
		display: flex;
		gap: 10px;
	}
	.social-grid-item > img {
		width: 60%;
	}
	.subtext {
		font-size: 18px;
	}
	.manage-grid-item {
		font-weight: 600;
	}
	.manage-grid-item {
		font-weight: 500;
	}
	.maintain-grid-item > img {
		width: 60%;
	}
	.schedule-grid-item {
		font-weight: 600;
		text-align: center;
	}
	.schedule-subtext {
		font-weight: 300;
	}
	.grow-grid-item {
		flex-direction: column;
		text-align: center;
	}
	.grow-text {
		width: 60%;
	}
	.grow-grid-item > img {
		width: 70%;
	}
	.fifty-grid-item > img {
		width: 60%;
	}
	.create-grid-item {
		gap: 20px;
	}
	.create-grid-item > img {
		width: 60%;
	}
	.write-grid-item > img {
		width: 60%;
	}
	.attribution {
		display: none;
	}
}
