* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--Purple-100: hsl(254, 88%, 90%);
	--Purple-500: hsl(256, 67%, 59%);
	--Yellow-100: hsl(31, 66%, 93%);
	--Yellow-500: hsl(39, 100%, 71%);
	--White: hsl(0, 0%, 100%);
	--Black: hsl(0, 0%, 7%);
}

@font-face {
	font-family: DM Sans;
	src: url("../fonts/DMSans-VariableFont_opsz\,wght.ttf");
}

@font-face {
	font-family: DM Sans Italic;
	src: url("../fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf");
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.main-container {
	font-size: 18px;
	margin: auto 0;
}

.grid-div {
	padding: 20px;
	border-radius: 10px;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
@media (max-width: 475px) {
	.main-container {
		width: 90%;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.illustration-image {
		width: 100%;
	}
	/* .grid-div {} */
	.social-div {
		background-color: var(--Purple-500);
	}
	.social-div > img {
		width: 60%;
	}
	.manage-div {
		background-color: var(--White);
	}
	/* .manage-div {} */
	.maintain-div {
		background-color: var(--Yellow-500);
	}
	.maintain-div > img {
		width: 60%;
	}
	.schedule-div {
		background-color: var(--Purple-100);
	}
	/* .schedule-div>img {} */
	.grow-div {
		background-color: var(--Purple-500);
	}
	.grow-div > img {
		width: 60%;
	}
	.fifty-div {
		background-color: var(--White);
	}
	.fifty-div > img {
		width: 60%;
	}
	.create-div {
		background-color: var(--Yellow-100);
	}
	.create-div > img {
		width: 60%;
	}
	.write-div {
		background-color: var(--Yellow-500);
	}
	.write-div {
		width: 60%;
	}
}
